@{
    ViewBag.Title = "Home";
}

<!--
    categories (@ViewBag.Categories)
-->
<div class="jumbotron">
    <p>
        Data offered by <a href="https://northwinddatabase.codeplex.com/">Northwind</a> database
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Utils API</h2>
        <ul>
            @{var url = Url.Content("~/Tools/Now");}
            <li>Text Date: <a href="@url">@url</a></li>
            
            @{url = Url.Content("~/Tools/Tomorrow");}
            <li>Text Date: <a href="@url">@url</a></li>
            
            @{url = Url.Content("~/Tools/Random/100");}
            <li>JSON Random number: <a href="@url">@url</a></li>

            @{url = Url.Content("~/Tools/Guid");}
            <li>JSON GUID: <a href="@url">@url</a></li>

            @{url = Url.Content("~/Tools/GetEcho?name=Pippo&action=go");}
            <li>JSON Query string params echo: <a href="@url">@url</a></li>

            @{url = Url.Content("~/Tools/PostEcho");}
            <li>JSON POST params echo: <a href="@url">@url</a></li>

        </ul>
    </div>
    <!--
    <div class="col-md-4">
        <h2>HTML API</h2>
        <ul>
            @{url = Url.Content("~/Customer/List");}
            <li>Customers: <a href="@url">@url</a></li>
        </ul>
    </div>
    -->
    <div class="col-md-4">
        <h2>ODATA</h2>
        <ul>
            @{url = Url.Content("~/odata/");}
            <li>Root: <a href="@url">@url</a></li>
        </ul>
    </div>
    
</div>